* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all 0.25s;
}

:root {
	--background-primary: #050E12;
	--background-secondary: #0A171E;

	--text-primary: #F2F9F9;
	--text-secondary: #91989C;

	--highlight-primary: #202D34;
	--highlight-secondary: #0070DA;

	--button-hover: #026acb;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text-primary);
	background-color: var(--background-secondary);
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	color: var(--text-primary);
}

.custom-input-box {
	outline: none;
	border: none;
	background: none;
	width: 100%;
	height: 3rem;
	border-radius: 5px;
	padding: 1rem;
	color: var(--text-secondary);
	background-color: var(--highlight-primary);
}

.f-14 {
	font-size: 14px;
}