.custom-input {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0 !important;
}

.custom-input-input, .custom-textarea textarea {
	width: 100%;
	outline: none;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: black;
	color: var(--text-primary);
	border: 1px solid var(--text-secondary);
}

.custom-textarea {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 5px;
	margin: 10px 0;
}

.custom-textarea textarea {
	min-height: 5rem;
	max-height: 10rem;
	transition: none !important;
}