.dashboard {
	width: 100%;
	height: 100vh;
	display: flex;
}

.dashboard-menu {
	width: 20rem;
	height: 100%;
	background-color: var(--background-primary);
}

.dashboard-menu-part {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.dashboard-menu-title {
	width: 100%;
	height: 2rem;
	padding: 10px;
	font-size: small;
	border-bottom: 1px solid var(--highlight-primary);
}

.dashboard-menu-item {
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.dashboard-menu-item:hover, .dashboard-menu-item.dashboard-menu-item-selected {
	padding-left: 20px;
	background-color: var(--highlight-primary);
}

.dashboard-whitespace {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
}