.dashboard {
	height: calc(100vh - 4rem);
}

.dashboard-menu {
	width: 20rem;
	background-color: var(--background-primary);
}

.dashboard-menu-item {
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 10px;
	text-decoration: none;
	color: var(--text-primary);
}

.dashboard-menu-item:hover, .dashboard-menu-item.dashboard-menu-item-selected {
	padding-left: 20px;
	background-color: var(--highlight-primary);
	color: var(--highlight-secondary);
}