.navigation {
	width: 100vw;
	height: 4rem;
	display: flex;
	align-items: center;
	padding: 0 2rem;
	background-color: var(--background-primary);
}

.navigation-left, .navigation-right {
	width: 50%;
	display: flex;
	gap: 2rem;
	align-items: center;
}

.navigation-left {
	justify-content: flex-start;
}

.navigation-right {
	justify-content: flex-end;
}

.navigation-link {
	text-decoration: none;
	color: var(--text-primary);
}

.navigation-link.selected {
	color: var(--highlight-secondary);
}