.primary-button {
	min-width: 7rem;
	height: 3rem;
	border-radius: 5px;
	background-color: var(--highlight-secondary);
	padding: 0 !important;
}

.primary-button:hover {
	background-color: var(--button-hover);
}