.alert-main {
    width: 550px;
    /*height: 3rem;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;

    position: fixed;
    right: 0;
    /*left: 70%;*/
    top: 4rem;

    background-color: var(--background-secondary);
    color: var(--text-primary);

    animation-name: slideIn, stay, slideOut;
    animation-duration: 1.5s, 2s, 1.5s;
    animation-delay: 0s, 1.5s, 3.5s;
    animation-iteration-count: 1;
}

.alert-line {
    width: 550px;
    position: fixed;
    right: 0;
    /*left: 70%;*/
    top: calc(7rem - 2px);
    height: 2px;
    background-color: var(--highlight-secondary);

    animation-name: timer;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.alert-line.line-hide {
    display: none;
}

.alert-line.line-show {
    display: block;
}

@keyframes timer {
    from {
        /*left: 70%;*/
        right: 0;
    }
    to {
        /*left: 100%;
        right: 0;*/
        right: -30%;
    }
}

@keyframes slideIn {
    from {
        /*left: 100%;*/
        /*right: -30%;*/
        right: -100%;
    }
    to {
        /*left: 70%;*/
        right: 0;
    }
}

@keyframes stay {
    from {
        /*left: 70%;*/
        right: 0;
    }
    to {
        /*left: 70%;*/
        right: 0; 
    }
}

@keyframes slideOut {
    from {
        /*left: 70%;*/
        right: 0;
    }
    to {
        /*left: 100%;
        right: -30%;*/
        right: -100%;
    }
}

@media screen and (max-width: 576px) {
    .alert-main, .alert-line {
        width: 300px;
    }
}