.chats-main {
	display: flex;
	flex-direction: column;
}

.chat-header {
	height: 4rem;
	background-color: #081318 !important;
}

.chat {
	height: calc(100vh - 15rem);
	max-height: calc(100vh - 15rem);
	overflow-y: auto;
}

.chat-footer {
	height: 3.5rem;
}

.message {
	width: 75% !important;
	min-height: 4rem;
	border-radius: 0.4vh;
}

.msg-me {
	justify-content: flex-end;
}

.msg-me > div {
	background-color: var(--highlight-secondary);
}

.msg-me > div > div {
	display: flex;
	flex-direction: row-reverse;
}

.msg-me > div .msg-username, .msg-me > div .msg {
	text-align: right;
}

.msg-they > div {
	background-color: var(--highlight-primary);
}

.msg-they > div .msg-time {
	text-align: right;
}

@media screen and (max-width: 767px) {
	.chats-main {
		flex-direction: column-reverse !important;
	}
}